%h1
  Blood Sugar Simulation


%h3
  Please add food and time (food was consumed)

%p
  Input fields coming soon...

%p
  = link_to 'Test Simulation with 2 food entered (wheat tortilla and orange juice) at 7am and 8am', glycemic_graph_simulations_path